#gitignore for Netbeans
/RiskGame/nbproject/private/
/RiskGame/build/
/RiskGame/nbbuild/
/RiskGame/dist/
/RiskGame/nbdist/
/RiskGame/nbactions.xml
/RiskGame/.nb-gradle/

#gitignore for Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*